/* Centrar texto */
h1, h2, p, span {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/*  espacio entre elementos */
label {
  margin-bottom: 3px;
}

input, button {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  entre secciones */
div {
  margin-bottom: 30px;
}
label, input { 
padding: 10px;
}